.estudios-programacion-mobile,
.idiomas-mobile {
  display: none;
}

.seccion-estudios {
  /* padding: 50px; */
  margin: 0;
  background-color: $Principal-Negro;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  h2 {
    color: $Textos-blancos;
  }

  .estudios-proyectos_barraMenu {
    display: flex;
    height: fit-content;
    justify-content: space-evenly;
    padding: 50px 0;
    padding-bottom: 80px;
    padding-top: 0;
    width: 30%;
    margin: auto;
    font-size: $Tamanio-texto-submenu;
    flex-wrap: wrap;
    a {
      margin: 5px 0;
    }
    .categoriaSinSeleccionar {
      text-decoration: none;
      cursor: pointer;
      color: $Textos-blancos;

      &:hover {
        color: $Terciario-verde;
      }
    }
    .portfolio-categoriaSeleccionada {
      color: $Terciario-verde;
      text-decoration: none;
      font-weight: bold;

      span {
        background-color: $Terciario-verde; /* Cambia el color de fondo según tu preferencia */
        width: 70%; /* Ajusta el tamaño del span */
        height: 5px;
        display: block;
        margin: auto;
        margin-top: 5px;
      }
    }
  }

  .estudios-programacion {
    .estudios-timeLine {
      display: grid;
      grid-template-columns: 47.5% 5% 47.5%;
      grid-template-rows: 1;
      padding: 0;

      .estudio-recuadro-impar {
        grid-column: 1;
        clip-path: polygon(
          1% 0%,
          97% 0%,
          97% 11%,
          100% 17%,
          97% 22%,
          97% 100%,
          1% 100%
        );
      }
      .estudio-recuadro-par {
        grid-column: 3;
        clip-path: polygon(
          99% 0%,
          3% 0%,
          3% 11%,
          0% 17%,
          3% 22%,
          3% 100%,
          99% 100%
        );
      }
      .estudios-timeLine_line {
        grid-column: 2;
        position: relative; /* Para que la línea se mantenga fija en la pantalla */
        top: 15px; /* Coloca la línea en la parte superior */
        left: 50%; /* Coloca la línea en el centro horizontal de la pantalla */
        width: 5px; /* Ancho de la línea */
        height: 60vh; /* Alto de la línea, igual al alto de la pantalla */
        background-color: $Secundario-negro; /* Color de la línea */

        svg {
          z-index: 500;
          font-size: 50px;
          position: relative;
          left: -23px;
          top: -25px;
          color: $Terciario-verde;
        }
      }
      .estudios-timeLine_line-ultimoPunto {
        position: relative;
        top: 15px;
        left: 40%;
        svg {
          z-index: 500;
          font-size: 50px;
          position: relative;
          left: -23px;
          top: -25px;
          color: $Terciario-verde;
        }
      }
      .fecha-izquierda {
        grid-column: 1;
        grid-row: 1;
        text-align: right;
        font-weight: 700;
        color: $Textos-blancos;
      }
      .fecha-derecha {
        grid-column: 3;
        grid-row: 1;
        text-align: left;
        font-weight: 700;
        color: $Textos-blancos;
      }

      .estudio-recuadro {
        padding: 10px;
        background-color: $Secundario-negro;
        border: 1px solid $Secundario-negro;
        text-align: left;
        width: 100%;
        grid-row: 1;
        color: $Textos-blancos;
        padding: 50px;
        padding-bottom: 30px;
        height: fit-content;
        border-radius: 10px;
        position: relative;
        top: -40px;

        h3 {
          margin: 0;
          color: $Textos-blancos;
        }

        p {
          margin: 0;
          padding-bottom: 5px;

          svg {
            font-size: 30px;
            margin-top: 10px;
          }
        }

        p:nth-child(2) {
          color: $Terciario-verde;
          padding-bottom: 50px;
        }
        p:nth-child(4) {
          color: $Terciario-verde;
          margin: auto 0;
          padding-top: 50px;
        }
      }
    }
  }
  .estudios-idiomas {
    width: 80%;
    max-width: 80%;
    margin: auto;

    .idiomas-desktop {
      display: flex;
      justify-content: space-evenly;
      .cards {
        padding: 20px 40px;
        max-width: 30%;
        width: 30%;
        border: 1px solid rgb(66, 57, 73);
        background-color: $Secundario-negro;
        color: white;
        min-height: 304px;
        margin: 10px;

        .card-body {
          display: grid;
          grid-template-rows: 20% 60% 20%;

          .cards-iconos {
            grid-row: 1;
            img {
              width: 50px;
            }
          }
          .cards-titulos {
            grid-row: 2;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
              padding: 0;
              margin: 0;
              font-weight: 500;
              font-size: 18px;
            }
          }
          .cards-flechas {
            grid-row: 3;
            svg {
              font-size: 30px;
            }
          }
        }
        .cards-informacion {
          display: grid;
          grid-template-rows: 10% 20% 50% 20%;

          .cards-nivel {
            grid-row: 2;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
              padding: 0;
              margin: 0;
              font-size: 15px;
            }
          }
          .cards-descripcion {
            grid-row: 3;
            display: flex;
            align-items: center;
            p {
              margin: 0;
              padding: 0;
              font-size: 15px;
            }
          }
          .cards-titulos {
            grid-row: 1;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
              padding: 0;
              margin: 0;
              font-weight: 500;
              font-size: 18px;
            }
          }
          .cards-flechas {
            grid-row: 4;
            svg {
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .estudios-programacion {
    display: none;
  }

  .seccion-estudios {
   
    .estudios-proyectos_barraMenu {
      padding: 20px 0;
      width: 30%;
      font-size: $Tamanio-texto-submenu * 0.8;
      .portfolio-categoriaSeleccionada {
        width: fit-content;
        margin: 5px 0;

        span {
          padding-top: 3px;
          height: 2px;
        }
      }
    }
    .estudios-programacion-mobile {
      display: flex;
      flex-direction: column;

      .estudios-programacion-container {
        display: flex;
        overflow-x: scroll;
      /*   padding: 20px 0; */
        .estudio-recuadr-container {
          display: flex;
          width: 100%;

          flex-direction: column;
          margin: 0 10px;

          .fecha-izquierda {
            font-size: $Tamanio-texto-parrafos * 0.8;
            text-align: left;
            font-weight: 700;
            color: $Textos-blancos;
            padding-left: 25px;
          }

          .estudios-timeLine_line {
            /* Coloca la línea en el centro horizontal de la pantalla */
            /* Ancho de la línea */
            height: 5px; /* Alto de la línea, igual al alto de la pantalla */
            background-color: $Secundario-negro; /* Color de la línea */
            text-align: left;
            padding-left: 25px;
            svg {
              z-index: 500;
              font-size: 50px;
              position: relative;
              left: -23px;
              top: -25px;
              color: $Terciario-verde;
            }
          }

          .estudio-recuadro {
            padding: 10px;
            background-color: $Secundario-negro;
            border: 1px solid $Secundario-negro;
            text-align: left;
            width: 60vw;
            grid-row: 1;
            color: $Textos-blancos;
            padding: 20px;
            min-height: 300px;
            height: fit-content;
            border-radius: 10px;
            display: grid;
            grid-template-rows: 5% 10% 55% 30%;
            margin-top: 20px;
            p:nth-child(2) {
              color: $Terciario-verde;
            }

            h3 {
              margin: 0;
              height: fit-content;
              color: $Textos-blancos;
            }

            p {
              margin: 0;
              padding: 5px 0;
              font-size: $Tamanio-texto-parrafos * 0.8;

              svg {
                font-size: 30px;
                margin-top: 0px;
              }
            }
          }
        }
      }
    }

    .estudios-idiomas {
      width: 100%;
      max-width: 100%;
      .idiomas-desktop {
        display: none;
      }
      .idiomas-mobile {
        display: block;
        margin: auto;
        .cards {
          padding: 40px;
          max-width: 100%;
          width: 90%;
          border: 1px solid rgb(66, 57, 73);
          background-color: $Secundario-negro;
          color: white;
          min-height: 300px;
          margin: auto;

          .card-body {
            display: grid;
            grid-template-rows: 20% 60% 20%;
            padding: 0 40px;
            .cards-iconos {
              grid-row: 1;
              img {
                width: 50px;
              }
            }
            .cards-titulos {
              grid-row: 2;
              display: flex;
              align-items: center;
              justify-content: center;

              p {
                padding: 0;
                margin: 0;
                font-weight: bold;
                font-size: 18px;
                color: $Terciario-verde;
              }
            }
            .cards-flechas {
              grid-row: 3;
              svg {
                font-size: 30px;
              }
            }
          }
          .cards-informacion {
            display: grid;
            grid-template-rows: 10% 20% 50% 20%;

            .cards-nivel {
              grid-row: 2;
              display: flex;
              align-items: center;
              justify-content: center;

              p {
                padding: 0;
                margin: 0;
                font-size: 15px;
                color: $Terciario-verde;
              }
            }
            .cards-descripcion {
              grid-row: 3;
              display: flex;
              align-items: center;
              p {
                margin: 0;
                padding: 0;
                font-size: 15px;
                text-align: left;
              }
            }
            .cards-titulos {
              grid-row: 1;
              display: flex;
              align-items: center;
              justify-content: center;

              p {
                padding: 0;
                margin: 0;
                font-weight: 500;
                font-size: 18px;
              }
            }
            .cards-flechas {
              grid-row: 4;
              svg {
                font-size: 30px;
              }
            }
          }
        }
        .carousel-indicators {
          position: absolute;
          margin: 0;
          bottom: -20px;

          button {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $Textos-blancos;
          }
        }
        .carousel-control-prev,
        .carousel-control-next {
          position: absolute;
          width: fit-content;

          .carousel-control-prev-icon,
          .carousel-control-next-icon {
            filter: none;
          }
        }
      }
    }
  }
}

@media (max-width: 846px) {
  .estudios-programacion {
    display: none;
  }

  .seccion-estudios {

    .estudios-proyectos_barraMenu {
      padding: 20px 0;
      width: 60%;
      font-size: $Tamanio-texto-submenu * 0.8;
      .portfolio-categoriaSeleccionada {
        width: fit-content;
        margin: 5px 0;

        span {
          padding-top: 3px;
          height: 2px;
        }
      }
    }
    .estudios-programacion-mobile {
      display: flex;
      flex-direction: column;

      .estudios-programacion-container {
        display: flex;
        overflow-x: scroll;
        padding: 20px 0;
        .estudio-recuadr-container {
          display: flex;
          width: 100%;
          flex-direction: column;
          margin: 0 10px;

          .fecha-izquierda {
            font-size: $Tamanio-texto-parrafos * 0.7;
            text-align: left;
            font-weight: 700;
            color: $Textos-blancos;
            padding-left: 25px;
            width: 100%;
          }

          .estudios-timeLine_line {
            /* Coloca la línea en el centro horizontal de la pantalla */
            /* Ancho de la línea */
            height: 5px; /* Alto de la línea, igual al alto de la pantalla */
            background-color: $Secundario-negro; /* Color de la línea */
            text-align: left;
            padding-left: 25px;
            svg {
              z-index: 500;
              font-size: 50px;
              position: relative;
              left: -23px;
              top: -25px;
              color: $Terciario-verde;
            }
          }

          .estudio-recuadro {
            padding: 10px;
            background-color: $Secundario-negro;
            border: 1px solid $Secundario-negro;
            text-align: left;
            width: 70vw;
            grid-row: 1;
            color: $Textos-blancos;
            padding: 20px;
            min-height: 300px;
            height: fit-content;
            border-radius: 10px;
            display: grid;
            grid-template-rows: 10% 10% 55% 25%;
            margin-top: 20px;
            p:nth-child(2) {
              color: $Terciario-verde;
            }

            h3 {
              margin: 0;
              height: fit-content;
              color: $Textos-blancos;
            }

            p {
              margin: 0;
              padding: 0;
              font-size: $Tamanio-texto-parrafos * 0.8;

              svg {
                font-size: 30px;
                margin-top: 0px;
              }
            }
            p:nth-child(4) {
              color: $Terciario-verde;
              margin: auto 0;
            }
          }
        }
      }
    }

    .estudios-idiomas {
      width: 100%;
      max-width: 100%;
      .idiomas-desktop {
        display: none;
      }
      .idiomas-mobile {
        display: block;
        margin: auto;
        .cards {
          padding: 40px;
          max-width: 100%;
          width: 90%;
          border: 1px solid rgb(66, 57, 73);
          background-color: $Secundario-negro;
          color: white;
          min-height: 300px;
          margin: auto;

          .card-body {
            display: grid;
            grid-template-rows: 20% 60% 20%;
            padding: 0 40px;
            .cards-iconos {
              grid-row: 1;
              img {
                width: 50px;
              }
            }
            .cards-titulos {
              grid-row: 2;
              display: flex;
              align-items: center;
              justify-content: center;

              p {
                padding: 0;
                margin: 0;
                font-weight: bold;
                font-size: 18px;
                color: $Terciario-verde;
              }
            }
            .cards-flechas {
              grid-row: 3;
              svg {
                font-size: 30px;
              }
            }
          }
          .cards-informacion {
            display: grid;
            grid-template-rows: 10% 20% 50% 20%;

            .cards-nivel {
              grid-row: 2;
              display: flex;
              align-items: center;
              justify-content: center;

              p {
                padding: 0;
                margin: 0;
                font-size: 15px;
                color: $Terciario-verde;
              }
            }
            .cards-descripcion {
              grid-row: 3;
              display: flex;
              align-items: center;
              p {
                margin: 0;
                padding: 0;
                font-size: 15px;
                text-align: left;
              }
            }
            .cards-titulos {
              grid-row: 1;
              display: flex;
              align-items: center;
              justify-content: center;

              p {
                padding: 0;
                margin: 0;
                font-weight: 500;
                font-size: 18px;
              }
            }
            .cards-flechas {
              grid-row: 4;
              svg {
                font-size: 30px;
              }
            }
          }
        }
        .carousel-indicators {
          position: absolute;
          margin: 0;
          bottom: -20px;

          button {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $Textos-blancos;
          }
        }
        .carousel-control-prev,
        .carousel-control-next {
          position: absolute;
          width: fit-content;

          .carousel-control-prev-icon,
          .carousel-control-next-icon {
            filter: none;
          }
        }
      }
    }
  }
}
