.seccion-estudios {
  padding: 50px;
  margin: 0;
  background-color: $Secundario-gris;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  h2 {
    color: $Texto-negro;
  }

  .estudios-proyectos_barraMenu {
    display: flex;
    height: fit-content;
    justify-content: space-evenly;
    padding: 50px 0;
    padding-bottom: 80px;
    width: 50%;
    margin: auto;

    .categoriaSinSeleccionar {
      text-decoration: none;
      cursor: pointer;
      color: white;
    }
    .portfolio-categoriaSeleccionada {
      color: $Enfasis-celeste;
      text-decoration: none;
      font-weight: 700;
    }
  }

  .estudios-timeLine {
    display: grid;
    grid-template-columns: 47.5% 5% 47.5%;
    grid-template-rows: 1;
    padding: 0;
    .estudio-recuadro-impar {
      grid-column: 1;
      clip-path: polygon(1% 0%, 97% 0%, 97% 11%, 100% 17%, 97% 22%, 97% 100%, 1% 100%);
    }
    .estudio-recuadro-par {
      grid-column: 3;
      clip-path: polygon(99% 0%, 3% 0%, 3% 11%, 0% 17%, 3% 22%, 3% 100%, 99% 100%);
    }
    .estudios-timeLine_line {
      grid-column: 2;
      position: relative; /* Para que la línea se mantenga fija en la pantalla */
      top: -60px; /* Coloca la línea en la parte superior */
      left: 50%; /* Coloca la línea en el centro horizontal de la pantalla */
      width: 5px; /* Ancho de la línea */
      height: 60vh; /* Alto de la línea, igual al alto de la pantalla */
      background-color: black; /* Color de la línea */
    
      svg{
        z-index: 500;
        font-size: 50px;
        position: relative;
        left: -23px;
        top: 48px;
      }
    }
    .fecha-izquierda {
      grid-column: 1;
      grid-row: 1;
      text-align: right;
      font-weight: 700;
    }
    .fecha-derecha {
      grid-column: 3;
      grid-row: 1;
      text-align: left;
      font-weight: 700;
    }

    .estudio-recuadro {
      padding: 10px;
      background-color: $Principal-Negro;
      border: 1px solid black;
      text-align: left;
      width: 100%;
      grid-row: 1;
      color: white;
      padding: 50px;
      height: fit-content;
      border-radius: 10px;
      position: relative;
      top: -40px;

      p{
        margin: 0;
        padding: 5px 0;

        svg{
            font-size: 30px;
            margin-top: 10px;
        }
      }
      
    }
  }
}
