.footer-section {
  color: white;
  text-align: center;
  padding: 50px;

  h2 {
    text-transform: uppercase;
    margin: auto;
    padding: 30px 0;
    width: 70%;
  }
  h3 {
    font-weight: bold;
    margin: 0;
  }
  .footer-botones {
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    padding: 50px 0;
    a{
      width: 100%;
      button {
        padding: 20px;
        border: 1px solid white;
        background-color: black;
        color: $Textos-blancos;
        width: 95%;
        text-align: center;
        border-radius: 0;
        &:hover {
          background-color: $Terciario-verde;
          border: none;
        }
      }
    }

   
  }
  .footer-barraInferior {
    display: grid;
    grid-template-columns: 33% 33% 33%;

    .footer-barraInferior_info:nth-child(1){
      .barraInferior_informacion{
        padding-left: 15px;
      }
    }


    .footer-barraInferior_info {
      display: grid;
      grid-template-columns: 30% 70%;
      grid-template-rows: 100%;
      width: fit-content;
      margin: auto;
      padding-top: 30px;

      .barraInferior_informacion {
        text-align: left;
        grid-row: 1;
        grid-column: 2;
        h5 {
          font-size: 14px;
          margin: 0;
        }
        p {
          font-size: 10px;
          width: fit-content;
          margin: 0;
          padding-top: 5px;
        }
      }

      
      .footer-barraInferior_info-icono {
        width: fit-content;
        display: flex;
        justify-content: right;
        padding-right: 20px;
        grid-column: 1;
        grid-row: 1;
        svg {
          font-size: 40px;
          border-radius: 50%;
          
          padding: 8px;
          color: white;
          background-color: $Terciario-verde;
          &:hover{
            scale: 1.5;
          }
          
        }
      
      }
      
    }
  }
}

@media (max-width: 576px) {
  .footer-section {
    padding: 20px;
    
    h2 {
      margin: auto;
      padding-top: 30px;
    }

    .footer-botones {
      display: flex;
      flex-direction: column;
      padding: 0px 0;
      padding-bottom: 20px;
      width: 100%;
      button {
        padding: 10px;
        margin: 10px 0;
      }
    }

    .footer-barraInferior{
      display: flex;
      flex-direction: column;

      .footer-barraInferior_info:nth-child(1){
        .barraInferior_informacion{
          padding-left: 0px;
        }
      }

      .footer-barraInferior_info{
        padding: 10px 0;
        margin: 0;
        width: 100%;

        .barraInferior_informacion{
          width: 100%;
        }

        .footer-barraInferior_info-icono{
          justify-content: center;
          width: 100%;
          padding-right: 0px;

        }
      }

    }
  }
}
@media (max-width: 846px){
  .footer-section{
    .footer-botones{
      display: flex;
      flex-wrap: wrap;

      button{
        margin: 10px 0;
      }
    }

    .footer-barraInferior{
      display: flex;
      flex-wrap: wrap;

      .footer-barraInferior_info:nth-child(1){
        .barraInferior_informacion{
          padding-left: 0px;
        }
      }

      .footer-barraInferior_info{
        margin: 0;
        width: 50%;
      }
    }
  }
}