.home-info {

    .home-info__hero{
        display: grid;
        grid-template-columns: 30% 70%;

        .home-info__hero-title{
            grid-column: 1;
            
            color: white;
            padding-top: 75vh;
        }

        .home-info__hero-image{
            grid-column: 2;
            height: 100vh;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            
        }
    }
    
}
