@import "/src/sass/reutilizables/colors";
@import "/src/sass/reutilizables/tipografias";
@import "/src/sass/reutilizables/variables";

.home {
  .home-info {
    .home-info__hero {
      display: grid;
      grid-template-columns: 50% 50%;
      background-color: $Principal-Negro;

      padding: 0px 80px;

      .home-info__hero-title {
        grid-column: 1;
        color: $Textos-blancos;
        padding-top: 40vh;
        text-align: left;

        .home-titulo {
          display: flex;

          p {
            padding: 0px;
            border: none;
            margin: 0;
            font-size: $Tamanio-texto-hero * 0.6;
            font-weight: bold;
            text-transform: capitalize;
            width: fit-content;
          }
          span {
            color: $textos-secundarios-GrisOscuro;
            font-size: $Tamanio-texto-hero * 0.6;
            width: fit-content;
            padding-left: 15px;
            font-weight: bold;
          }
        }

        .home-titulo_profesion {
          line-height: 45px;
          display: flex;
          p,
          span {
            font-size: $Tamanio-texto-hero;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
          }
          span {
            padding-left: 10px;
            color: $Terciario-verde;
          }
        }

        .boton-contacto {
          padding-top: 10px;
          button {
            padding: 10px 20px;
            border: none;
            background-color: $Terciario-verde;
            text-transform: uppercase;
            font-weight: bold;
            color: $Textos-blancos;
            font-size: 13px;
          }
        }
      }

      .home-info__hero-image {
        grid-column: 2;
        height: 90vh;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
      }
    }

    .home-info__bio {
      display: grid;
      grid-template-columns: 50% 50%;
      width: 100%;
      background-color: $Secundario-negro;
      padding: 50px 100px;
      .home-info__bio-imagen {
        grid-column: 1;
        text-align: center;
        margin: auto;

        img {
          width: 70%;
          margin: auto;
        }
      }
      .home-info__bio-biografia {
        grid-column: 2;
        margin: 0 auto;
        color: $Textos-blancos;
        h2 {
          /* font-size: $Tamanio-texto-submenu;
          text-transform: uppercase;
          font-weight: bold;
          color: $Terciario-verde; */
          padding-top: 0px;
          padding-bottom: 50px;
        }
        h3 {
          /* font-size: $Tamanio-texto-hero;
          font-weight: bold;
          color: $Textos-blancos; */
          padding-bottom: 0px;
          margin: 0;
        }

        p {
          font-size: $Tamanio-texto-parrafos;
          margin: 0;
        }
      }
    }
  }
  .portfolio {
    padding: 50px;
    background-color: $Principal-Negro;
    text-align: center;

    .portfolio-proyectos_barraMenu {
      display: flex;
      height: fit-content;
      justify-content: space-evenly;
      padding-top: 50px;
      width: 60%;
      margin: auto;
      font-size: $Tamanio-texto-submenu;

      .categoriaSinSeleccionar {
        text-decoration: none;
        cursor: pointer;
        color: $Textos-blancos;
      }
      .portfolio-categoriaSeleccionada {
        color: $Terciario-verde;
        text-decoration: none;
        font-weight: bold;
      }
    }
    .portfolio-proyectos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 80vw;
      margin: auto;

      .portfolio-proyectos_recuadro {
        height: 300px;
        width: 300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 50px 10px;
        margin-bottom: 25px;
        border: solid 1px black;
        cursor: pointer;

        .portfolio-proyectos_recuadro-info {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          color: $Textos-blancos;
          font-size: 14px;
          padding: 20px;
          font-weight: 500;
          &:hover {
            background-image: linear-gradient(
              to right,
              rgba(7, 132, 86, 0.9),
              rgba(7, 132, 86, 0.9)
            );
          }

          h3 {
            padding: 10px 0;
            font-size: 16px;
            font-weight: 700;
            color: $Textos-blancos;
          }
          button {
            padding: 10px 20px;
            border: none;
            color: $Terciario-verde;
            background-color: white;
            text-transform: uppercase;
            font-weight: bold;

            font-size: 13px;
          }
        }
        .oculto {
          display: none;
        }
      }
      .portfolio-proyectos_recuadro-titulo {
        h4 {
          color: $Textos-blancos;
          font-size: $Tamanio-texto-parrafos;
        }
      }
    }
  }
  .seccionClientes {
    background-color: $Secundario-negro;
    text-align: center;
    padding: 50px;
    padding-bottom: 100px;
    p {
      color: yellow;
    }
    h2 {
      padding-bottom: 50px;
      color: white;
    }
    .carousel {
      padding: 0 80px;
      .carousel-inner {
        /* display: flex; */
        margin: auto;

        .carousel-item,
        .active {
          .clientes-container {
            display: flex;
            justify-content: center;
            .clientes-card {
              border: 1px solid;
              padding: 50px;
              text-align: left;
              margin: 10px;
            }
          }

          .card-frase {
            display: flex;
            h3 {
              color: $Terciario-verde;
              font-size: $Tamanio-texto-quote;
              padding: 0 10px;
              text-align: center;
              font-family: var(--font-quotes);
            }
            .card-quotesIcon-right,
            .card-quotesIcon-left {
              color: $Terciario-verde;
            }
            .card-quotesIcon-right {
              display: flex;
              align-items: end;
            }
          }

          .card-comentario {
            p {
              font-size: $Tamanio-texto-parrafos;
              color: white;
              margin: 0;
              padding: 40px 0;
            }
          }

          .card-cliente {
            p {
              margin: 0;
            }
          }
        }
      }
      .carousel-indicators {
        position: absolute;
        margin: 0;
        bottom: -50px;

        button {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $Textos-blancos;
        }
      }
      .carousel-control-prev,
      .carousel-control-next {
        position: absolute;
        width: fit-content;

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
          filter: none;
        }
      }
    }
  }

  /* h2 {
    color: $Textos-blancos;
    font-size: $Tamanio-texto-hero;
    font-weight: bold;
    text-transform: capitalize;
  } */
}

@media (max-width: 576px) {
  .home {
    .home-info {
      .home-info__hero {
        /* display: flex;
        flex-direction: column; */
        display: grid;
        grid-template-columns: 60% 40%;
        padding: 20px;
        .home-info__hero-title {
          padding-top: 15vh;
          .home-titulo {
            display: flex;
            justify-content: center;
            flex-direction: column;
            p {
              font-size: $Tamanio-texto-hero * 0.5;
            }
            span {
              font-size: $Tamanio-texto-hero * 0.5;
              padding: 0;
            }
          }

          .home-titulo_profesion {
            display: flex;

            line-height: 20px;
            p {
              font-size: $Tamanio-texto-hero * 0.4;
              width: min-content;
            }
            div {
              span {
                padding-left: 0px;
                position: relative;
                left: -130px;
                bottom: -10px;
              }
            }
          }

          .boton-contacto {
            display: flex;
            justify-content: center;
          }
        }

        .home-info__hero-image {
          padding: 20px 0;
          width: 100%;
          height: 50vh;
          img {
            width: 100px;
          }
        }
      }
      .home-info__bio {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 20px;
        padding-top: 100px;

        .home-info__bio-biografia {
          padding: 0 20px;
          h2 {
            position: relative;
            top: 00px;
            text-align: center;
            padding: 0;
            padding-bottom: 20px;
            margin: 0;
          }
          h3 {
            position: relative;
            top: -280px;
          }
          p {
            font-size: $Tamanio-texto-parrafos * 0.8;
            padding: 0;
            margin: 0;
          }
        }
      }
    }

    .portfolio {
      padding: 20px;

      .portfolio-proyectos_barraMenu {
        display: grid;
        grid-template-columns: 50% 50%;
        flex-wrap: wrap;
        width: 100%;
        font-size: $Tamanio-texto-submenu * 0.8;
        padding: 20px 10px 30px;
        .categoriaSinSeleccionar {
          width: fit-content;
          margin: 5px 0;
        }
        .portfolio-categoriaSeleccionada {
          width: fit-content;
          margin: 5px 0;
        }
      }

      .portfolio-proyectos {
        width: 100%;
        justify-content: space-between;
        display: flex;
        text-align: center;
        flex-wrap: wrap;

        div {
          width: 50%;
          margin: 5px 0;
          div {
            width: 100%;

            .portfolio-proyectos_recuadro {
              width: 90%;
              height: 150px;
              margin: auto;

              .portfolio-proyectos_recuadro-info{
                display: none !important;
              }
            }
          }
        }
      }
    }

    .seccionClientes {
      padding: 20px;

      h2 {
        padding-bottom: 0px;
        color: white;
      }
      .carousel {
        padding: 20px;

        .carousel-inner {
          .carousel-item,
          .active {
            .clientes-container {
              display: flex;
              flex-direction: column;

              .clientes-card {
                margin: 20px 0;
                padding: 20px;
              }
            }
            .card-frase {
              h3 {
                font-size: $Tamanio-texto-quote * 0.7;
              }
            }
            .card-comentario {
              p {
                font-size: $Tamanio-texto-parrafos * 0.8;
              }
            }
            .card-cliente {
              p {
                font-size: $Tamanio-texto-parrafos * 0.7;
              }
            }
          }
        }
        .carousel-indicators {
          position: absolute;
          margin: 0;
          bottom: 0px;
        }
      }
    }
  }
}
