@import "/src/sass/reutilizables/colors";
@import "/src/sass/reutilizables/tipografias";
@import "/src/sass/reutilizables/variables";

.home {
  .home-info {
    .home-info__hero {
      background: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
        url("../../assets/imagenes/FOTO-HOME.jpg");
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 0px;
      padding-left: 5vw;
      height: 90vh;
      .home-info__hero-title {
        grid-column: 1;
        color: $Textos-blancos;
        padding-top: 40vh;
        text-align: left;

        .home-titulo {
          display: flex;

          p {
            padding: 0px;
            border: none;
            margin: 0;
            font-size: $Tamanio-texto-hero * 0.6;
            font-weight: bold;
            text-transform: capitalize;
            width: fit-content;
          }
          span {
            color: $Terciario-verde;
            font-size: $Tamanio-texto-hero * 0.6;
            width: fit-content;
            padding-left: 15px;
            font-weight: bold;
          }
        }

        .home-titulo_profesion {
          line-height: 45px;
          display: flex;
          p,
          span {
            font-size: $Tamanio-texto-hero;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
          }
          div {
            display: flex;
            align-items: end;
            height: fit-content;
            span {
              padding-left: 10px;
              color: $Terciario-verde;
            }
          }
        }

        .boton-contacto {
          padding-top: 10px;
          button {
            padding: 10px 20px;
            border: none;
            background-color: $Terciario-verde;
            text-transform: uppercase;
            font-weight: bold;
            color: $Textos-blancos;
            font-size: 13px;
          }
        }
      }
    }

    .home-info__bio {
      display: grid;
      grid-template-columns: 50% 50%;
      width: 100%;
      background-color: $Secundario-negro;
      padding: 50px 100px;
      .home-info__bio-imagen {
        grid-column: 1;
        text-align: center;
        margin: auto;
        width: 75%;

        img {
          width: 100%;
          margin: auto;
        }
      }
      .home-info__bio-biografia {
        grid-column: 2;
        margin: auto;
        color: $Textos-blancos;
       
        h3 {
          padding-bottom: 0px;
          margin: 0;
        }

        p {
          font-size: $Tamanio-texto-parrafos * 0.9;
          margin: 0;
        }
      }
    }
  }
  .portfolio {
    /*  padding: 50px; */
    background-color: $Principal-Negro;
    text-align: center;

    .portfolio-proyectos_barraMenu {
      display: flex;
      height: fit-content;
      justify-content: space-evenly;
      padding-top: 0px;
      width: 65%;
      margin: auto;
      font-size: $Tamanio-texto-submenu;
      flex-wrap: wrap;

      .categoriaSinSeleccionar {
        text-decoration: none;
        cursor: pointer;
        color: $Textos-blancos;

        &:hover {
          color: $Terciario-verde;
        }
      }
      .portfolio-categoriaSeleccionada {
        color: $Terciario-verde;
        text-decoration: none;
        font-weight: bold;

        span {
          background-color: $Terciario-verde; /* Cambia el color de fondo según tu preferencia */
          width: 70%; /* Ajusta el tamaño del span */
          height: 5px;
          display: block;
          margin: auto;
          padding-top: 5px;
        }
      }
    }
    .portfolio-proyectos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 80vw;
      margin: auto;

      .portfolio-proyectos_recuadro {
        height: 300px;
        width: 300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 50px 15px;
        margin-bottom: 25px;
        border: solid 1px black;
        cursor: pointer;

        .portfolio-proyectos_recuadro-info {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          color: $Textos-blancos;
          font-size: 14px;
          padding: 20px;
          font-weight: 500;
          &:hover {
            background-image: linear-gradient(
              to right,
              rgba(7, 132, 86, 0.9),
              rgba(7, 132, 86, 0.9)
            );
          }

          h3 {
            padding: 10px 0;
            font-size: 16px;
            font-weight: 700;
            color: $Textos-blancos !important;
          }
          button {
            padding: 10px 20px;
            border: none;
            color: $Terciario-verde;
            background-color: white;
            text-transform: uppercase;
            font-weight: bold;

            font-size: 13px;
          }
        }
        .oculto {
          display: none;
        }
      }
      .portfolio-proyectos_recuadro-titulo {
        h4 {
          color: $Textos-blancos;
          font-size: $Tamanio-texto-parrafos;
        }
      }
    }

    
    .portfolio-boton-ver-mas {
      padding-top: 70px;
      button {
        padding: 20px;
        border: 1px solid white;
        background-color: black;
        color: $Textos-blancos;
        text-align: center;
        border-radius: 0;

        &:hover {
          background-color: $Terciario-verde;
          border: none;
        }
      }
    }
  }
  .seccionClientes {
    background-color: $Secundario-negro;
    text-align: center;
    padding: 20px;
    padding-bottom: 100px;
    padding-top: 0;

    p {
      color: yellow;
    }
    h2 {
      color: white;
    }
    .carousel {
      padding: 0 80px;
      .carousel-inner {
        margin: auto;
        .carousel-item,
        .active {
          .clientes-container {
            display: grid;
            grid-template-columns: 50% 50%;

            .clientes-card {
              display: grid;
              grid-template-rows: 20% 65% 5% 10%;
              border: 1px solid;
              padding: 50px;
              text-align: left;
              margin: 10px;
              margin-top: 0;

              .card-frase {
                display: flex;
                grid-row: 1;
                h3 {
                  color: $Terciario-verde;
                  font-size: $Tamanio-texto-quote;
                  padding: 0;
                  text-align: left;
                }
                .card-quotesIcon-right,
                .card-quotesIcon-left {
                  color: $Terciario-verde;
                }
                .card-quotesIcon-right {
                  display: flex;
                  align-items: end;
                }
              }

              .card-comentario {
                grid-row: 2;
                p {
                  font-size: $Tamanio-texto-parrafos;
                  color: white;
                  margin: 0;
                  padding: 20px 0;
                }
              }

              .card-cliente {
                grid-row: 3;

                p {
                  margin: 0;
                  color: $Terciario-verde;
                }
              }
              .card-empresa {
                grid-row: 4;

                p {
                  margin: 0;
                  color: $Terciario-verde;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
      .carousel-indicators {
        position: absolute;
        margin: 0;
        bottom: -50px;

        button {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $Textos-blancos;
        }
      }
      .carousel-control-prev,
      .carousel-control-next {
        position: absolute;
        width: fit-content;

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
          filter: none;
        }
      }
    }
  }

  /* h2 {
    color: $Textos-blancos;
    font-size: $Tamanio-texto-hero;
    font-weight: bold;
    text-transform: capitalize;
  } */
}
.home-info__bio-mobile,
.clientes-mobile {
  display: none;
}

@media (max-width: 576px) {
  .home {
    .home-info {
      .home-info__hero {
        background: linear-gradient(rgba(0, 0, 0, 0.6), transparent),
          url("../../assets/imagenes/FOTO-HOME-mobile.jpg");
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 90vh;
        .home-info__hero-title {
      
          z-index: 200;
          padding-left: 20px;
          .home-titulo {
            display: flex;
            justify-content: center;
            flex-direction: column;
            line-height: 20px;
            p {
              font-size: $Tamanio-texto-hero * 0.4;
              
            }
            span {
              font-size: $Tamanio-texto-hero * 0.4;
              padding: 0;
              font-weight: bold;
              color: $Terciario-verde;
            }
          }

          .home-titulo_profesion {
            display: flex;

            line-height: 20px;
            p {
              font-size: $Tamanio-texto-hero * 0.4;
              width: min-content;
            }
            div {
              display: block;
              span {
                padding-left: 0px;
                position: relative;
                left: -130px;
                bottom: -15px;
                font-size: 35px;
              }
            }
          }

          .boton-contacto {
            display: flex;
            justify-content: left;
            padding-top: 20px;
          }
        }

        
      }
      .home-info__bio-mobile {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 20px;
        padding-top: 50px;

        h2 {
          position: relative;
          top: 0px;
          text-align: center;
          padding: 0;
          /*  padding-bottom: 20px; */
          margin: 0;
        }

        .home-info__bio-imagen {
          min-width: 200px;
          margin: auto;

          img {
            width: 100%;
            margin: auto;
          }
        }

        .home-info__bio-biografia {
          display: block;
          margin: auto;
          padding: 20px 30px 0;
         
          h3 {
            padding-bottom: 0px;
            margin: 0;
          }

          p {
            font-size: $Tamanio-texto-parrafos * 0.9;
            margin: 0;
            color: $Textos-blancos;
          }
        }
      }
      .home-info__bio {
        display: none;
      }
    }

    .portfolio {
      padding: 20px;

      .portfolio-proyectos_barraMenu {
        /* display: grid;
        grid-template-columns: 50% 50%; */
        display: flex;
        flex-wrap: wrap;
        font-size: $Tamanio-texto-submenu * 0.8;
        padding: 20px 10px 30px;
        width: 70%;

        .categoriaSinSeleccionar {
          width: fit-content;
          margin: 5px 0;
        }
        .portfolio-categoriaSeleccionada {
          width: fit-content;
          margin: 5px 0;

          span {
            padding-top: 3px;
            height: 2px;
          }
        }
      }

      .portfolio-proyectos {
        width: 100%;
        justify-content: space-between;
        display: flex;
        text-align: center;
        flex-wrap: wrap;

        div {
          width: 50%;
          margin: 5px 0;
          div {
            width: 100%;

            .portfolio-proyectos_recuadro {
              width: 90%;
              height: 150px;
              margin: auto;

              /* .portfolio-proyectos_recuadro-info {
                display: none !important;
              } */
            }

            .portfolio-proyectos_recuadro-titulo {
              h4 {
                font-size: $Tamanio-texto-parrafos * 0.8;
              }
            }
          }
        }
      }
     
      .portfolio-boton-ver-mas {
        padding-top: 40px;
        button {
          padding: 15px;
          border: 1px solid white;
          background-color: black;
          color: $Textos-blancos;
          text-align: center;
          border-radius: 0;
          font-size: 12px;
          &:hover {
            background-color: $Terciario-verde;
            border: none;
          }
        }
      }
    }

    .seccionClientes {
      padding: 40px 0 20px;

      .clientes {
        display: none;
      }
      .clientes-mobile {
        display: block;
      }

      h2 {
        /* padding-bottom: 0px; */
        color: white;
      }
      .carousel {
        padding: 20px;

        .carousel-inner {
          .carousel-item,
          .active {
            .clientes-container {
              display: flex;
              flex-direction: column;

              .clientes-card {
                margin: 20px 0;
                padding: 20px;
                grid-template-rows: 15% 70% 8% 7%;
                min-height: 345px;
                .card-frase {
                  h3 {
                    font-size: $Tamanio-texto-quote * 0.7;
                  }
                }
                .card-comentario {
                  p {
                    font-size: $Tamanio-texto-parrafos * 0.8;
                    padding: 10px 0;
                  }
                }
                .card-cliente {
                  p {
                    font-size: $Tamanio-texto-parrafos * 0.8;
                  }
                }
                .card-empresa {
                  p {
                    font-size: $Tamanio-texto-parrafos * 0.8;
                  }
                }
              }
            }
          }
        }
        .carousel-indicators {
          position: absolute;
          margin: 0;
          bottom: 0px;
        }
      }
    }
  }
}

@media (max-width: 846px) {
  .home-info__bio {
    display: none;
  }

  .home {
    .home-info {
      .home-info__bio-mobile {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 20px;
        padding-top: 30px;
        

        h2 {
          position: relative;
          top: 0px;
          text-align: left;
          padding: 20px 0 20px;
          padding-left: 30px;
          margin: 0;
        }
        h3{
          padding-left: 30px;
        }

        .home-info__bio-imagen {
          width: 80%;
          margin: auto;
          max-width: 365px;

          img {
            width: 100%;
            margin: auto;
          }
        }

        .home-info__bio-biografia {
          display: block;
          margin: auto;
          padding: 20px 8vw 0;
       
          h3 {
            padding-bottom: 0px;
            margin: 0;
            
          }

          p {
            font-size: $Tamanio-texto-parrafos * 0.9;
            margin: 0;
            color: $Textos-blancos;
          }
        }
      }

      .home-info__hero {
        padding: 0px;
        height: 90vh;
        padding-left: 5vw;
        .home-info__hero-title {
          padding-top: 45vh;
          .home-titulo {
            display: flex;
            justify-content: center;
            flex-direction: column;
            line-height: 30px;
            p {
              font-size: $Tamanio-texto-hero * 0.6;
            }
            span {
              font-size: $Tamanio-texto-hero * 0.6;
              padding: 0;
            }
          }

          .home-titulo_profesion {
            display: flex;

            line-height: 30px;
            p {
              font-size: $Tamanio-texto-hero * 0.7;
              width: min-content;
            }
            div {
              display: block;
              span {
                padding-left: 0px;
                position: relative;
                left: -220px;
                bottom: -30px;
                font-size: 35px;
              }
            }
          }

          .boton-contacto {
            display: flex;
            justify-content: left;
            padding-top: 20px;
          }
        }
      }
      .home-info__bio {
        display: none;
      }
    }
    .portfolio {
      .portfolio-proyectos_barraMenu {
        width: 80%;
      }
    }
    .seccionClientes {

      .clientes {
        display: none;
      }
      .clientes-mobile {
        display: block;
      }

      h2 {
        color: white;
      }
      .carousel {
        padding: 20px;
        padding-top: 0;

        .carousel-inner {
          .carousel-item,
          .active {
            .clientes-container {
              display: flex;
              flex-direction: column;

              .clientes-card {
                margin: 20px;
                padding: 20px;
                margin-top: 0;
                grid-template-rows: 15% 70% 8% 7%;
                min-height: 345px;
                .card-frase {
                  h3 {
                    font-size: $Tamanio-texto-quote * 0.7;
                  }
                }
                .card-comentario {
                  p {
                    font-size: $Tamanio-texto-parrafos * 0.8;
                    padding: 10px 0;
                  }
                }
                .card-cliente {
                  p {
                    height: fit-content;
                    font-size: $Tamanio-texto-parrafos * 0.8;
                  }
                }
                .card-empresa {
                  p {
                    font-size: $Tamanio-texto-parrafos * 0.8;
                  }
                }
              }
            }
          }
        }
        .carousel-indicators {
          position: absolute;
          margin: 0;
          bottom: 0px;
        }
      }
    }
  }
}
