@import "/src/sass/reutilizables/colors";
@import "/src/sass/reutilizables/variables";

.navbar-mobile {
  display: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  z-index: 1000;
  /* height: $altura-navBar */

  .container {
    padding: 0;
    margin: 0;
    padding: 0 40px;
    width: 100%;
    min-width: 100%;
    .navbar-brand {
      img {
        width: 120px;
      }
    }
  }
}
.navbar-expand {
  width: 100%;
  min-width: 100%;
  display: block;
}

.bg-body-tertiary {
  background-color: transparent !important;

  .navbar-nav {
    display: flex;
    justify-content: right;
    width: 100%;

    .nav-link {
      font-size: 12px;
      padding: 0;
      width: fit-content;
      margin: 0 5px;

      a {
        color: $Textos-blancos;
        text-decoration: none;

        &:hover {
          color: $Terciario-verde;
        }
      }
    }
  }
}

.bg-body-scroll {
  background-color: $Secundario-negro;

  .navbar-nav {
    display: flex;
    justify-content: right;
    width: 100%;

    .nav-link {
      font-size: 12px;
      padding: 0;
      width: fit-content;
      margin: 0 5px;

      a {
        color: $Textos-blancos;
        text-decoration: none;

        &:hover {
          color: $Terciario-verde;
        }
      }
      .menu-activo {
        color: $Terciario-verde;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 846px) {
  .navbar {
    display: none;
  }
  .navbar-mobile {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0px;
    z-index: 1000;

    .navbar-mobile_barra {
      padding: 10px 20px;
      display: grid;
      grid-template-columns: 40% 60%;
      width: 100%;
      svg {
        color: $Textos-blancos;
        /*  background-color: $Terciario-verde; */
        font-size: 50px;
        grid-column: 1;
        border-radius: 50%;
        /* border: 1px solid $Terciario-verde; */
        padding: 5px;
      }
      div {
        grid-column: 2;
        width: 100%;
        text-align: right;
        margin: auto;
        padding-top: 5px;
        .navbar-brand {
          img {
            width: 120px;
          }
        }
      }
    }
  }
  .offcanvas {
    background-color: $Secundario-negro;
    padding: 20px;

    .offcanvas-body {
      margin: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      justify-items: center;
      a {
        color: white;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        margin: 10px 0;
      }
    }

    .offcanvas-header {
      .btn-close {
        font-weight: bold;
        background-color: $Terciario-verde;
        font-size: 20px;
        opacity: 1;
      }
    }

    .offcanvas-title {
      font-weight: bold;

      img {
        width: 120px;
      }
    }
  }
}
