@import "/src/sass/reutilizables/colors";
@import "/src/sass/reutilizables/variables";

.navbar-mobile {
  display: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  z-index: 1000;
  /* height: $altura-navBar */

  .container{
    .navbar-brand{
      color: $Terciario-verde;
      font-weight: bold;
    }
  }
}

.bg-body-tertiary {
  background-color: transparent !important;

  .navbar-nav {
    display: flex;
    justify-content: right;
    width: 100%;

    .nav-link {
      font-size: 12px;
      padding: 0;
      width: fit-content;
      margin: 0 5px;

      a {
        color: $Textos-blancos;
        text-decoration: none;
        

        &:hover {
          color: $Terciario-verde;
        }
      }
    }
  }
}

.bg-body-scroll {
  background-color: $Secundario-negro;

  .navbar-nav {
    display: flex;
    justify-content: right;
    width: 100%;

    .nav-link {
      font-size: 12px;
      padding: 0;
      width: fit-content;
      margin: 0 5px;

      a {
        color: $Textos-blancos;
        text-decoration: none;

        &:hover {
          color: $Terciario-verde;
        }
      }
      .menu-activo {
        color: $Terciario-verde;
        font-weight: bold;
      }
    }
  }
}



@media (max-width: 846px) {
  .navbar {
    display: none;
  }
  .navbar-mobile {
    display: block;
    position: fixed;
    top: 0;
    max-width: 100%;
    padding: 0px;
    z-index: 1000;

    .navbar-mobile_barra {
      padding: 10px 20px;
      display: grid;
      grid-template-columns: 80% 20%;
      width: 100vw;
      svg {
        color: $Textos-blancos;
       /*  background-color: $Terciario-verde; */
        font-size: 35px;
        grid-column: 1;
        border-radius: 50%;
        /* border: 1px solid $Terciario-verde; */
        padding: 5px;
      }
      a {
        grid-column: 2;
        margin-left: 60vw;
        color: white;
        margin: auto;
        width: fit-content;
        text-decoration: none;
      }
    }
  }
  .offcanvas {
    background-color: $Terciario-verde;
    padding: 20px;

    .offcanvas-body {
      margin: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      justify-items: center;
      a {
        color: white;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        margin: 5px 0;
      }
    }
    .btn-close {
      font-weight: bold;
    }
    .offcanvas-title {
      font-weight: bold;
    }
  }
}


