.popup-container {
  background-color: $Principal-Negro;
  width: 90vw;
  height: 95vh;
  position: fixed;
  z-index: 4000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .popup {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 50px;

    .popup-botonCerrar {
      /* position: relative;
      top: -10px;
      left: 40%; */
      display: flex;
      justify-content: right;
      svg {
        font-size: 30px;
        cursor: pointer;
        color: $Textos-blancos;
      }
    }

    .popup-titulo {
      h2 {
        margin: 0;
        color: $Textos-blancos;
        padding-bottom: 40px;
        font-size: $Tamanio-texto-hero;
      }
    }

    .popup-inner {
      display: grid;
      grid-template-columns: 60% 40%;

      .popup-imagenes {
        text-align: center;

        .carousel-indicators {
          position: absolute;
          margin: 0;
          bottom: -30px;

          button {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: white;
          }
        }
        img {
          width: 500px;
        }

        .carousel-control-prev,
        .carousel-control-next {
          .carousel-control-prev-icon,
          .carousel-control-next-icon {
            filter: none;
          }
        }
      }
      .popup-descripcion {
        display: flex;
        align-items: center;
        text-align: left;
        padding: 10px 20px;
        p {
          margin: 0;
          color: $Textos-blancos;
          font-size: $Tamanio-texto-parrafos;
        }
      }
    }
    .popup-botones {
      width: 50%;
      /* display: grid;
      grid-template-columns: 50% 50%; */
      margin: auto;
      padding-top: 60px;
      display: flex;
      justify-content: space-evenly;
      button {
        padding: 20px;
        border: 1px solid white;
        background-color: black;
        width: 100%;
        text-align: center;

        &:hover {
          background-color: $Terciario-verde;
          border: none;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  
  
  .popup-container {
    .popup {
      padding: 20px;
      .popup-titulo {
        h2{
          padding: 20px 0;
          font-size: $Tamanio-texto-hero*.5;
        }
      }
      .popup-botonCerrar{
        padding-top: 20px;
      }
      

      .popup-inner {
        display: flex;
        flex-direction: column;

        .popup-imagenes {
          img {
            width: 80%;
          }

          .carousel-indicators{
            button{
              width: 5px;
              height: 5px;
            }
          }

          .carousel-control-prev,
          .carousel-control-next {
            width: 10%;
          }
        }
        .popup-descripcion {
          padding-top: 30px;
          p {
            font-size: $Tamanio-texto-parrafos * 0.7;
          }
        }
      }

      .popup-botones{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 20px;

        button{
          padding: 10px;
          font-size: 10px;
          margin: 5px 0;
        }
      }
    }
  }
}
