.popup-container {
  background-color: $Principal-Negro;
  width: 90vw;
  height: 95vh;
  position: fixed;
  z-index: 4000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .popup {
    display: grid;
    height: 100%;
    padding: 20px 40px;

    .popup-inner {
      display: grid;
      grid-template-columns: 55% 45%;
      grid-template-rows: 1;

      .popup-imagenes {
        text-align: center;
        grid-column: 1;
        width: 100%;
        margin: auto;
        .carousel {
          height: 100%;

          .carousel-inner {
            .carousel-item,
            .active {
              img {
                width: 90%;
              }
            }
          }
        }

        .carousel-indicators {
          position: absolute;
          margin: 0;
          bottom: -30px;

          button {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: white;
          }
        }

        .carousel-control-prev,
        .carousel-control-next {
          width: fit-content;
          height: fit-content;
          margin: auto 0px;
          .carousel-control-prev-icon,
          .carousel-control-next-icon {
            filter: none;
          }
        }
      }
      .popup-informacion {
        display: grid;
        grid-template-rows: 5% 15% 65% 15%;

        .popup-botonCerrar {
          display: flex;
          justify-content: right;
          grid-row: 1;
          height: 40px;
          position: relative;
          top: -20px;
          left: 15px;
          svg {
            font-size: 40px;
            padding: 10px;
            cursor: pointer;
            fill: $Textos-blancos;
            background-color: $Terciario-verde;
            font-weight: 100;

            &:hover {
              fill: white;
              background-color: black;
              border: 1px solid white;
            }
          }
        }
        .popup-titulo {
          grid-row: 2;
          height: fit-content;
          padding: 0 20px;
          h2 {
            margin: 0;
            color: $Textos-blancos;
            padding-bottom: 0px;
            font-size: $Tamanio-texto-hero * 0.5;
            text-align: left;
          }
        }
        .popup-descripcion {
          display: flex;
          align-items: center;
          text-align: left;
          padding: 0 20px;
          grid-row: 3;
          p {
            margin: auto;
            color: $Textos-blancos;
            font-size: $Tamanio-texto-parrafos * 0.9;
          }
        }
        .popup-botones {
          width: 100%;
          grid-row: 4;
          margin: auto;
          padding-top: 0px;
          display: flex;
          justify-content: space-evenly;
          button {
            padding: 15px;
            border: 1px solid white;
            background-color: black;
            width: 100%;
            text-align: center;

            &:hover {
              background-color: $Terciario-verde;
              border: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .popup-container {
    .popup {
      padding: 20px;
      .popup-titulo {
        h2 {
          padding: 20px 0;
          font-size: $Tamanio-texto-hero * 0.5;
        }
      }
      .popup-botonCerrar {
        padding-top: 20px;
      }

      .popup-inner {
        display: flex;
        flex-direction: column;

        .popup-imagenes {
          img {
            width: 80%;
          }

          .carousel-indicators {
            button {
              width: 5px;
              height: 5px;
            }
          }

          .carousel-control-prev,
          .carousel-control-next {
            width: 10%;
          }
        }
        .popup-descripcion {
          padding-top: 30px;
          p {
            font-size: $Tamanio-texto-parrafos * 0.7;
          }
        }
      }

      .popup-botones {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 20px;

        button {
          padding: 10px;
          font-size: 10px;
          margin: 5px 0;
        }
      }
    }
  }
}

@media (max-width: 846px) {
  .popup-container {
    width: 95vw;
    .popup {
      padding: 10px;

      .popup-inner {
        .popup-informacion {
          grid-template-rows: 10% 10% 45% 35%;
          .popup-titulo {
            h2 {
              font-size: $Tamanio-texto-hero * 0.4;
              padding: 0;
            }
          }
          .popup-descripcion {
            padding: 0 10px;
            height: fit-content;
            p {
              margin: 0;
              font-size: $Tamanio-texto-parrafos * 0.8;
            }
          }
          .popup-botones {
            display: flex;
            flex-wrap: wrap;

            button {
              width: 100%;
              font-size: 12px;
              padding: 15px;
            }
          }
        }
      }
    }
  }
}
