/* principales */

$Principal-Negro: black;


/* Secundarios */

$Secundario-Blanco:#ffff;


/* Textos */

$Texto-negro: black;
$textos-secundarios-GrisOscuro: #757575;

/* Enfasis */

$Enfasis-celeste: #568ada;



/* Navbar:

Fondo: Azul oscuro
Texto: Blanco o gris claro
Hover de elementos: Azul claro
Títulos:

Color: Negro
En énfasis: Rojo oscuro
Colores de texto:

Texto principal: Negro
Texto secundario: Gris oscuro
Botones:

Fondo: Azul oscuro
Texto: Blanco
Hover: Azul claro con texto blanco
Opciones del menú:

Fondo: Azul oscuro
Texto: Blanco
Hover: Azul claro con texto blanco
Background general:

Fondo: Gris claro */