/* principales */

$Principal-Negro: black;


/* Secundarios */


$Secundario-negro: #1b1818;

/* Terciario */

$Terciario-verde: #078456; /* boton */



/* Textos */

$Texto-negro: black;
$textos-secundarios-GrisOscuro: #454545; /* soy daniel */
$Textos-resalte-gris: #101010;
$Textos-blancos: white;

/* Enfasis */

$Enfasis-celeste: #568ada;



/* Navbar:

Fondo: Azul oscuro
Texto: Blanco o gris claro
Hover de elementos: Azul claro
Títulos:

Color: Negro
En énfasis: Rojo oscuro
Colores de texto:

Texto principal: Negro
Texto secundario: Gris oscuro
Botones:

Fondo: Azul oscuro
Texto: Blanco
Hover: Azul claro con texto blanco
Opciones del menú:

Fondo: Azul oscuro
Texto: Blanco
Hover: Azul claro con texto blanco
Background general:

Fondo: Gris claro */